body {
    margin-top: 60px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 300;
}

footer{
    padding: 20px;
    text-align: center;
}

footer a{
    color: #777;
    font-size: 14px;
    text-decoration: none;
}

.navbar-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #336699;
}

.navbar-custom .navbar-brand {
    font-weight: 300;
    color: #fff;
}

.navbar-custom .nav li a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 1px;
    color: #fff;
}

.cta{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 15px;
    background-color: #336699;
    color: #fff;
    border-radius: 3px;
    margin-top: 20px;
    text-align: center;
}

.cta .button{
    background-color: #e18514;
    border: 0px;
    color: #fff;
    border-radius: 2px;
    padding: 3px 10px;
    margin-left: 20px;
    font-weight: 300;
}

#agile-form .cta {
    padding-bottom: 30px;
}

#agile-form .cta .buttons{
    margin-top: 30px;
    text-align: center;
}

#agile-form .cta input{
    color: #333;
    width: 350px;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #ddd;
}

#agile-form .cta button{
    padding: 6px 12px;
}

.screenshot{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

hr.sep{
    border-top: 1px dotted #dedede;
    /*width: 1000%;*/
    /*margin-left: -600px;*/
}