body {
    margin-top: 60px;
    background-color: #f9f9f9;
    font-family: 'Lato', sans-serif;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}

.navbar-brand .logo{
    display: inline-block;
    height: 35px;
    margin-top: -7px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 300;
}

.navbar-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    /*font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    background-color: #336699;
}

.navbar-custom .navbar-brand {
    font-weight: 300;
    color: #fff;
}

.navbar-custom .nav li a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.cta{
    /*font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    padding: 15px;
    background-color: #336699;
    color: #fff;
    border-radius: 3px;
    margin-top: 20px;
    text-align: center;
}

.cta .button{
    background-color: #e18514;
    border: 0px;
    color: #fff;
    border-radius: 2px;
    padding: 3px 10px;
    margin-left: 20px;
    font-weight: 300;
}

#agile-form .cta {
    padding-bottom: 30px;
}

#agile-form .cta .buttons{
    margin-top: 30px;
    text-align: center;
}

#agile-form .cta input{
    color: #333;
    width: 350px;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #ddd;
}

#agile-form .cta button{
    padding: 6px 12px;
}

.screenshot{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

hr.sep{
    border-top: 1px dotted #dedede;
    /*width: 1000%;*/
    /*margin-left: -600px;*/
}

.heading-plato.jumbotron{
    background: #e6e4e2;
    background-image: url(/img/hero.jpg);
    color: #336699;
    border-bottom: 1px solid #D6DDE3;
    margin-bottom: 0px;
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: right;
    height: 550px;
}

.heading-plato h1{
    font-size: 36px;
}

.gateways{
    background-color: #f1f3f4;
    border-bottom: 1px solid #D6DDE3;
    padding-top: 3px;
    padding-bottom: 10px;
    text-align: center;
}

.features .row{
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid #D6DDE3;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #f1f3f4;
}

.features .screenshot{
    max-width: 400px;
    width: 100%;
    margin-top: 5px;
}
.features h1{
    margin-bottom: 40px;
}

.features h2{
    font-weight: 600;
    margin-bottom: 30px;
    color: #333;
}

.features p{
    color: #72808E
}

.faq{
    border-top: 1px solid #D6DDE3;
    border-bottom: 1px solid #D6DDE3;
    background-color: #fff;
    padding-bottom: 40px;
    font-size: 20px;
}
.faq h1{
    padding-bottom: 20px;
}
.faq .qa-item{
    padding-bottom: 30px;
}

.faq .qa-item .question{
    font-style: italic;
    font-weight: 600;
    padding-bottom: 10px;
}

.pricing{
    color: #fff;
    background-color: #4386c9;
    padding-bottom: 50px;
    font-weight: 100;
}

.pricing .row, .hubspot .row{
    text-align: center;
}

.trial-text{
    color: #ddd;
    font-size: 16px;
    margin-top: 10px;
}

.testimonial{
    font-size: 16px;
    margin-top: 30px;
    border-top: 1px dashed #ccc;
    padding-bottom: 10px;
    color: #000;
    padding-top: 10px;
}

.testimonial .content{
    font-style: italic;
    padding-bottom: 7px;
}

footer .footer-item{
    text-align: left;
    margin-bottom: 15px;
}

footer .footer-item .subitem{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 3px;
}

footer .copy{
    margin-top: 15px;
    margin-bottom: 15px;
}

footer{
    color: #777;
    padding: 20px;
    font-size: 14px;
    border-top: 1px solid #eee;
    margin-top: 30px;
}

footer a{
    text-decoration: none;
}

/*BLOG*/

.blog--post.post{
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 2px #ccc dotted;
}

.post .entry-content figure img {
    width: 100%;
    cursor: pointer;
}

.blog-author{
    padding-bottom: 15px;
    color: #777;
    font-size: 16px;
}

.post.-page{
    padding-top: 40px;
}

