body {
    margin-top: 60px;
}

.navbar-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #336699;
}

.navbar-custom .navbar-brand {
    font-weight: 300;
    color: #fff;
}

.navbar-custom .nav li a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 1px;
    color: #fff;
}
