<style>
	iframe{
		position:absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 60px;
		width: 100%;
		height: 100%;
		border: 0px;
	}
</style>
{{ partial "header.html" .}}

<div class="jumbotron heading-plato">
    <div class="container">
        <row>
            <div class="col-md-8">
                <h1>HubSpot + Stripe</h1>
                <h3>Accept payments using your HubSpot forms and
                    run marketing campaigns based on purchases.</h3>

                <p>
                    <a class="demoBtn" href="https://www.youtube.com/watch?v=73RlllWBGSk&t">
                        <button type="button" class="btn btn-warning btn-lg">Watch a Demo</button>
                    </a>
                </p>
            </div>
            <div class="col-md-4">
                <img src="/img/hubspot_stripe.png" alt="">
            </div>
        </row>

    </div>
</div>

<div class="gateways">
    <div class="container">
        <row>
            <div class="col-md-12">
                <h3>Also works with PayPal</h3>
            </div>
        </row>
    </div>
</div>

<div class="container features">
    <h1>How It Works</h1>
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <h2>Integrate Payments with HubSpot Forms</h2>
            DepositFix dynamically ads payment fields to your HubSpot forms.
            <br><br>
            Payment information goes to Stripe and other user data is sent to HubSpot at a single click.
        </div>
        <div class="col-md-6">
            <img src="/img/screenshots/hubspot_payment_form.png" style="width: 100%"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <img src="/img/screenshots/contact_view.png" class="screenshot" />
        </div>
        <div class="col-md-6">
            <h2>Automatically Update Contact Fields</h2>
            DepositFix adds new contact fields to HubSpot, so you can search and segment your contacts
            by a product they purchased, sales date, transaction amount and others.
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <h2>See Transactions in the Timeline</h2>
            Stay informed about any payment events with the help of automatic timeline updates.
        </div>
        <div class="col-md-6">
            <img src="/img/screenshots/timeline1.png" class="screenshot" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <img src="/img/screenshots/workflows.png" class="screenshot" />
        </div>
        <div class="col-md-6">
            <h2>Setup Post-Payment Workflows</h2>
            Send personalized emails after the payment: receipts, cross-sells/upsells,
            post-purchase follow ups, product review requests, etc.
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <h2>CRM Extension</h2>
            Stripe CRM extension shows all past payments and subscriptions from Stripe for a relevant contact.<br><br>
            It's easy to refund transactions and cancel payments without leaving HubSpot CRM.
        </div>
        <div class="col-md-6">
            <img src="/img/screenshots/crm_ext_subscriptions.png" class="screenshot" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>Other Features</h2>
            Stripe Subscriptions, dynamic amount or recurring plan specified by your customers.
        </div>

    </div>

</div>

<div class="faq">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="post-heading">
                <h1>FAQ</h1>
                <div class="qa-item">
                    <div class="question">How to connect DepositFix to my HubSpot account?</div>
                    <div class="answer">It's just 2 clicks: connect HubSpot and Stripe, everything else is done for you automatically. You can find more details on the <a href="/setup">Setup Instructions page</a>.</div>
                </div>
                <div class="qa-item">
                    <div class="question">What happens to the payment data if I cancel DepositFix subscription?</div>
                    <div class="answer">All of your data stays in HubSpot, you'll still be able to search and segment by the payment history.</div>
                </div>
                <div class="qa-item">
                    <div class="question">What about security?</div>
                    <div class="answer">We provide bank level security so you don't have to worry about it – full SSL encryption and PCI compliance.
                        <br>
                        No credit card information is stored in HubSpot or DepositFix.
                        <a href="/security">More Details</a>
                    </div>
                </div>
                <div class="qa-item">
                    <div class="question">What if I need a custom payment form design?</div>
                    <div class="answer">Just contact us and we will make it happen.</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="pricing">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="post-heading">
                <h1>Pricing: $50/month</h1>
                <p>Includes unlimited transactions, unlimited forms, Stripe subscriptions, <br>dynamic amounts, multi currency support and other features</p>

                <a href="https://app.hubspot.com/oauth/authorize?client_id=d227f78d-1a70-4760-a0da-465401a4788b&response_type=code&redirect_uri=https%3A%2F%2Fapp.depositfix.com%2Fauth%2Fhubspot&scope=contacts+timeline+forms+content&state=7fbf12dd-78ee-4890-b047-652a1e84d22d&optional_scope=automation">
                    <button type="button" class="btn btn-danger btn-lg">Start Accepting Payments</button>
                </a>

                <div class="trial-text">15 days free trial, no credit card required</div>

            </div>
        </div>
    </div>
</div>
</div>
<div class="hubspot">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="post-heading">
                <h3>Don't have HubSpot account yet?</h3>
                <p></p>
                <a href="http://offers.hubspot.com/free-trial?utm_campaign=Connect%20Partner%20Free%20Trial%20Conversions&utm_source=depositfix">
                    <button type="button" class="btn btn-info btn-lg">Get HubSpot</button>
                </a>
                <p></p>
            </div>
        </div>
    </div>
</div>
</div>

{{ partial "footer.html" .}}

<link rel="stylesheet" type="text/css" href="/css/YouTubePopUp.css">
<script type="text/javascript" src="/js/YouTubePopUp.jquery.js"></script>
<script>
    jQuery(".demoBtn").YouTubePopUp();
</script>
